cloudpickle==3.1.2
colorama==0.4.6
iniconfig==2.3.0
joblib==1.6.0
narwhals==2.26.0
numpy==2.5.3
packaging==26.3
pluggy==1.6.0
Pygments==2.21.0
pytest==9.1.1
scikit-learn==1.9.1
scipy==1.18.1
threadpoolctl==3.7.0
